.chatbar{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    background-color: rgb(20, 20, 51);
    padding-left: 10px;
    height: 100vh;

}

.chatbar__drawer{
    margin: 0;
    align-self: flex-start;
}

.chatbar__messages{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chatbar__input{
    width: 80%;
    margin-bottom: 20px;
}

.chatbar__input > input, .chatbar__input > form > input{
    width: 100%;
    background-color: rgb(28, 28, 97);
    color: white;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
}