.messages{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.messages__user{
    display: flex;
    align-items: center;

}

.messages__user > h3{
    margin-left: 10px;
}

.messages__msg{
    margin: 5px;
}